DATABASE_URL=postgresql://neondb_owner:your_password_here@ep-xxxxxx.us-east-2.aws.neon.tech/neondb?sslmode=require
DB_HOST=ep-xxxxxx.us-east-2.aws.neon.tech
DB_PORT=5432
DB_NAME=neondb
DB_USER=neondb_owner
DB_PASSWORD=your_password_here
DB_SSLMODE=require
